.hero-section-wrapper {

    
    .carousel {
        height: 95vh;
        overflow: hidden;
    }
}

.carousel-caption {
    padding-bottom: 400px;
    h2 {
        display: inline-block;
        color: black;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 500;
        position: relative;
        span{
            font-weight: 800;
        }
        &::after {
            display: block;
            content: '';
            width: 30px;
            height: 5px;
            background-color: black;
            position: absolute;
            top: 100%;
            right: 0;
        }
    }
    p {
        color: black;
        font-weight: 500;
    }
}

.last-post-wrapper {
    padding-top: 100px;
    .post-wrapper {
        padding: 10px;
    }
}