#wrapper-navbar {
    position: sticky;
    top: 0;
    // height: 600px;
    // overflow-y: scroll;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar {
    padding: 20px 0;
    
}

.custom-logo-link {
    padding-right: 20px;
    img {
        max-width: 100px;
        height: 50px;
    }
}

.menu-primary-menu-container ul {
    list-style: none;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}