#wrapper-navbar {
    position: sticky;
    top: 0;
    // height: 600px;
    // overflow-y: scroll;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar {
    padding: 20px 0;
    
}

.custom-logo-link {
    padding-right: 20px;
    img {
        max-width: 100px;
        height: 50px;
    }
}
.navbar-collapse {
    ul {
        list-style: none;
        padding-left: 0;
        background-color: #ffffff;
    }
}
ul.navbar-nav {
    list-style: none;
    li.nav-item {
        position: relative;
        &>ul {
            position: absolute;
            top: 100%;
            visibility: hidden;
            min-width: 200px;
            opacity: 0;
            transition: visibility 0.4s ease,  opacity 0.4s ease;
            li {
                background-color: white;
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: burlywood;
                }
            }
        }
        &:hover>ul {
            visibility: visible;
            opacity: 1;
        }
        }
    }
   




.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}