.all-posts-wrapper {
    padding: 100px 0;
    .posts-wrapper {
        // background-color: rgb(245, 243, 243);
        border-right: solid 5px rgb(245, 243, 243);
        padding-right: 40px;
    }
    
    .post-wrapper {
        .post-img-wrapper {
            img {
                width: 100%;
                height: 200px;
            }
        }
        padding-top: 40px;
        small {
            display: block;
            a {
                color: grey;
                &:hover {
                    color: black;
                }
            }
        }
        a {
            text-decoration: none;
        }
        h3 {
            a {
                color: black;
                &:hover {
                    color: grey;
                }
            }
        }
        
    }
}
.sidebar-wrapper {
    padding-left: 40px;
}

.post-wrapper {
    .post-img-wrapper {
        overflow: hidden;

    }
    img {
        transform: scale(1.3);
            transition: transform 0.7s;
            &:hover {
                transform: scale(1);
            }
    }
}